





<form method="post">

    <input type="hidden" name="id" />
    <input type="hidden" name="pName" />

    <h2> Product Id   @ViewBag.productToDelete.PId </h2>
    <h2> Product Name   @ViewBag.productToDelete.PName </h2>
    <h2> Product Category   @ViewBag.productToDelete.PCategory </h2>
    <h2> Product Price   @ViewBag.productToDelete.PPrice </h2>
    <h2> Product Is In Stock   @ViewBag.productToDelete.PIsInStock </h2>

   
    <button type="submit" class="btn btn-warning"> Delete Product </button>
</form>
