



<h3> This is an Shopping APP, created during training </h3>



<div>
    <h5> Firm : @ViewBag.orgName</h5>
    <h5> Members : @ViewBag.teamSize</h5>
    <h5> Is In Production : @ViewBag.isLive</h5>
    <h5> Project Owner : @ViewBag.projectOwner</h5>
    <h5> Cost  : @ViewBag.projectCost</h5>

</div>